:root {
	/* Lightness */
	--color-l-100: white 90%;
	--color-l-150: white 80%;
	--color-l-200: white 72%;
	--color-l-250: white 64%;
	--color-l-300: white 53%;
	--color-l-350: white 45%;
	--color-l-400: white 40%;
	--color-l-450: white 30%;
	--color-l-500: white 20%;
	--color-l-550: black 10%;
	--color-l-600: black 20%;
	--color-l-650: black 25%;
	--color-l-700: black 30%;
	--color-l-750: black 40%;
	--color-l-800: black 50%;
	--color-l-850: black 55%;
	--color-l-900: black 70%;
	--color-l-950: black 78%;

	/* Gray */
	--color-gray-base: oklch(0.75 0 10);
	--color-gray-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-gray-base)
	);
	--color-gray-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-gray-base)
	);
	--color-gray-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-gray-base)
	);
	--color-gray-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-gray-base)
	);
	--color-gray-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-gray-base)
	);
	--color-gray-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-gray-base)
	);
	--color-gray-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-gray-base)
	);
	--color-gray-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-gray-base)
	);
	--color-gray-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-gray-base)
	);
	--color-gray-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-gray-base)
	);
	--color-gray-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-gray-base)
	);
	--color-gray-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-gray-base)
	);
	--color-gray-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-gray-base)
	);
	--color-gray-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-gray-base)
	);
	--color-gray-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-gray-base)
	);
	--color-gray-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-gray-base)
	);
	--color-gray-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-gray-base)
	);
	--color-gray-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-gray-base)
	);

	/* Red */
	--color-red-base: oklch(0.6 0.25 20);
	--color-red-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-red-base)
	);
	--color-red-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-red-base)
	);
	--color-red-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-red-base)
	);
	--color-red-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-red-base)
	);
	--color-red-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-red-base)
	);
	--color-red-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-red-base)
	);
	--color-red-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-red-base)
	);
	--color-red-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-red-base)
	);
	--color-red-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-red-base)
	);
	--color-red-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-red-base)
	);
	--color-red-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-red-base)
	);
	--color-red-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-red-base)
	);
	--color-red-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-red-base)
	);
	--color-red-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-red-base)
	);
	--color-red-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-red-base)
	);
	--color-red-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-red-base)
	);
	--color-red-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-red-base)
	);
	--color-red-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-red-base)
	);

	/* Orange */
	--color-orange-base: oklch(0.75 0.23 50);
	--color-orange-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-orange-base)
	);
	--color-orange-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-orange-base)
	);
	--color-orange-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-orange-base)
	);
	--color-orange-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-orange-base)
	);
	--color-orange-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-orange-base)
	);
	--color-orange-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-orange-base)
	);
	--color-orange-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-orange-base)
	);
	--color-orange-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-orange-base)
	);
	--color-orange-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-orange-base)
	);
	--color-orange-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-orange-base)
	);
	--color-orange-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-orange-base)
	);
	--color-orange-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-orange-base)
	);
	--color-orange-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-orange-base)
	);
	--color-orange-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-orange-base)
	);
	--color-orange-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-orange-base)
	);
	--color-orange-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-orange-base)
	);
	--color-orange-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-orange-base)
	);
	--color-orange-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-orange-base)
	);

	/* Yellow */
	--color-yellow-base: oklch(0.85 0.22 92);
	--color-yellow-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-yellow-base)
	);
	--color-yellow-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-yellow-base)
	);
	--color-yellow-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-yellow-base)
	);
	--color-yellow-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-yellow-base)
	);
	--color-yellow-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-yellow-base)
	);
	--color-yellow-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-yellow-base)
	);
	--color-yellow-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-yellow-base)
	);
	--color-yellow-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-yellow-base)
	);
	--color-yellow-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-yellow-base)
	);
	--color-yellow-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-yellow-base)
	);
	--color-yellow-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-yellow-base)
	);
	--color-yellow-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-yellow-base)
	);
	--color-yellow-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-yellow-base)
	);
	--color-yellow-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-yellow-base)
	);
	--color-yellow-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-yellow-base)
	);
	--color-yellow-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-yellow-base)
	);
	--color-yellow-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-yellow-base)
	);
	--color-yellow-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-yellow-base)
	);

	/* Green */
	--color-green-base: oklch(0.77 0.25 125);
	--color-green-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-green-base)
	);
	--color-green-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-green-base)
	);
	--color-green-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-green-base)
	);
	--color-green-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-green-base)
	);
	--color-green-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-green-base)
	);
	--color-green-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-green-base)
	);
	--color-green-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-green-base)
	);
	--color-green-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-green-base)
	);
	--color-green-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-green-base)
	);
	--color-green-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-green-base)
	);
	--color-green-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-green-base)
	);
	--color-green-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-green-base)
	);
	--color-green-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-green-base)
	);
	--color-green-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-green-base)
	);
	--color-green-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-green-base)
	);
	--color-green-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-green-base)
	);
	--color-green-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-green-base)
	);
	--color-green-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-green-base)
	);

	/* Aqua */
	--color-aqua-base: oklch(0.75 0.25 190);
	--color-aqua-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-aqua-base)
	);
	--color-aqua-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-aqua-base)
	);
	--color-aqua-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-aqua-base)
	);
	--color-aqua-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-aqua-base)
	);
	--color-aqua-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-aqua-base)
	);
	--color-aqua-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-aqua-base)
	);
	--color-aqua-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-aqua-base)
	);
	--color-aqua-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-aqua-base)
	);
	--color-aqua-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-aqua-base)
	);
	--color-aqua-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-aqua-base)
	);
	--color-aqua-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-aqua-base)
	);
	--color-aqua-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-aqua-base)
	);
	--color-aqua-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-aqua-base)
	);
	--color-aqua-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-aqua-base)
	);
	--color-aqua-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-aqua-base)
	);
	--color-aqua-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-aqua-base)
	);
	--color-aqua-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-aqua-base)
	);
	--color-aqua-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-aqua-base)
	);

	/* Blue */
	--color-blue-base: oklch(0.7 0.16 245);
	--color-blue-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-blue-base)
	);
	--color-blue-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-blue-base)
	);
	--color-blue-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-blue-base)
	);
	--color-blue-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-blue-base)
	);
	--color-blue-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-blue-base)
	);
	--color-blue-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-blue-base)
	);
	--color-blue-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-blue-base)
	);
	--color-blue-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-blue-base)
	);
	--color-blue-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-blue-base)
	);
	--color-blue-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-blue-base)
	);
	--color-blue-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-blue-base)
	);
	--color-blue-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-blue-base)
	);
	--color-blue-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-blue-base)
	);
	--color-blue-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-blue-base)
	);
	--color-blue-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-blue-base)
	);
	--color-blue-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-blue-base)
	);
	--color-blue-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-blue-base)
	);
	--color-blue-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-blue-base)
	);

	/* Purple */
	--color-purple-base: oklch(0.7 0.22 300);
	--color-purple-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-purple-base)
	);
	--color-purple-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-purple-base)
	);
	--color-purple-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-purple-base)
	);
	--color-purple-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-purple-base)
	);
	--color-purple-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-purple-base)
	);
	--color-purple-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-purple-base)
	);
	--color-purple-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-purple-base)
	);
	--color-purple-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-purple-base)
	);
	--color-purple-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-purple-base)
	);
	--color-purple-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-purple-base)
	);
	--color-purple-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-purple-base)
	);
	--color-purple-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-purple-base)
	);
	--color-purple-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-purple-base)
	);
	--color-purple-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-purple-base)
	);
	--color-purple-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-purple-base)
	);
	--color-purple-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-purple-base)
	);
	--color-purple-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-purple-base)
	);
	--color-purple-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-purple-base)
	);

	/* Pink */
	--color-pink-base: oklch(0.75 0.25 340);
	--color-pink-100: color-mix(
		in oklch,
		var(--color-l-100),
		var(--color-pink-base)
	);
	--color-pink-150: color-mix(
		in oklch,
		var(--color-l-150),
		var(--color-pink-base)
	);
	--color-pink-200: color-mix(
		in oklch,
		var(--color-l-200),
		var(--color-pink-base)
	);
	--color-pink-250: color-mix(
		in oklch,
		var(--color-l-250),
		var(--color-pink-base)
	);
	--color-pink-300: color-mix(
		in oklch,
		var(--color-l-300),
		var(--color-pink-base)
	);
	--color-pink-350: color-mix(
		in oklch,
		var(--color-l-350),
		var(--color-pink-base)
	);
	--color-pink-400: color-mix(
		in oklch,
		var(--color-l-400),
		var(--color-pink-base)
	);
	--color-pink-450: color-mix(
		in oklch,
		var(--color-l-450),
		var(--color-pink-base)
	);
	--color-pink-500: color-mix(
		in oklch,
		var(--color-l-500),
		var(--color-pink-base)
	);
	--color-pink-550: color-mix(
		in oklch,
		var(--color-l-550),
		var(--color-pink-base)
	);
	--color-pink-600: color-mix(
		in oklch,
		var(--color-l-600),
		var(--color-pink-base)
	);
	--color-pink-650: color-mix(
		in oklch,
		var(--color-l-650),
		var(--color-pink-base)
	);
	--color-pink-700: color-mix(
		in oklch,
		var(--color-l-700),
		var(--color-pink-base)
	);
	--color-pink-750: color-mix(
		in oklch,
		var(--color-l-750),
		var(--color-pink-base)
	);
	--color-pink-800: color-mix(
		in oklch,
		var(--color-l-800),
		var(--color-pink-base)
	);
	--color-pink-850: color-mix(
		in oklch,
		var(--color-l-850),
		var(--color-pink-base)
	);
	--color-pink-900: color-mix(
		in oklch,
		var(--color-l-900),
		var(--color-pink-base)
	);
	--color-pink-950: color-mix(
		in oklch,
		var(--color-l-950),
		var(--color-pink-base)
	);

	/** Shortcuts **/
	--color-black: hsl(0, 0%, 0%);
	--color-border: light-dark(var(--color-gray-300), var(--color-gray-800));
	--color-border-dimmed: light-dark(
		hsla(0, 0%, 0%, 0.1),
		var(--color-gray-850)
	);
	--color-dark: var(--color-gray-900);
	--color-focus: var(--color-blue-600);
	--color-light: var(--color-gray-200);
	--color-text: light-dark(var(--color-black), var(--color-white));
	--color-text-dimmed: light-dark(var(--color-gray-700), var(--color-gray-400));
	--color-white: hsl(0, 0%, 100%);
}

:root:has(.k-panel[data-theme="dark"]) {
	color-scheme: dark;
}
